@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

:root {
  --pink: #ea3d32;
  --magenta: #6a45a2;
  --green: #56bd66;
  --indigo: #5452f6;
  --element-width: 240px;
  --cursor-width: 40px;
}

.container {
  max-width: 1280px;
  padding: 1rem;
  margin-inline: auto;
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 6.66% repeat(3, 13.33% 4.44%) repeat(2, 13.33% 6.66%);
}

.block {
  aspect-ratio: 3/1;
  width: 100%;
  background-color: white;
  color: black;
  display: grid;
  place-content: center;
}
